{% extends '_layout.html' %}
{% load staticfiles %}
{% load release_extras %}


{% block title %}Releases - Gaming Reminder{% endblock %}
{% block myjavascript %}
    <script src="{% static 'js/myapp.js' %}"></script>
    <script src="{% static 'js/FilterApp.js' %}"></script>
{% endblock %}
{% block other_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/game_list.css' %}">{% endblock %}

{% block body_content %}
    <div class="container">
    <div class="row">
    <!-- sidebar -->
    <div class="col-xs-3">

        <div class="navigation">
          <nav class="nav nav-pills nav-stacked">

            <p class="display-5 text-primary">Region</p>
            {% verbatim %}
            <div ng-app="FilterApp">
            <div class="regionMenu" ng-controller="myRegionCtrl">
            <a href="#" data-target="#regionItems" data-toggle="collapse" style="color:black;"><i class="fa fa-list mt"></i><span class="collapse in hidden-xs">{{ selected.name }}<span class="caret"></span></span></a>
                <ul class="nav nav-stacked collapse" id="regionItems">
                    <li ng-click="setNewRegion(region)" ng-repeat="region in regions">
                        <a class="region" href="" title="{{ region.id }}">{{ region.name }}</a>
                    </li>
                </ul>
            </div>

            <p class="display-5 text-primary" style="margin-top: 5%">Platform</p>
            <div class="platformMenu" ng-controller="myPlatformCtrl">
            <a href="#" data-target="#platformItems" data-toggle="collapse" style="color:black;"><i class="fa fa-list mt"></i><span class="collapse in hidden-xs">{{ selected.name }}<span class="caret"></span></span></a>
                <ul class="nav nav-stacked collapse" id="platformItems">
                    <li ng-click="setNewPlatform(platform)" ng-repeat="platform in platforms">
                        <a class="platform" href="" title="{{ platform.id }}">{{ platform.name }}</a>
                    </li>
                </ul>
            </div>
            </div> <!-- /filterapp -->
            {% endverbatim %}
            <button id="btnGo" type="button" class="btn btn-info">Go!</button>
           </nav>
        </div>

    </div>
    <!-- /sidebar -->
    <!-- content -->
    <div class="col-xs-9">
        <div class="content">
        {% for game in games %}
            <div class="col-md-4">
                <div class="gameCard">
                {% if game.cover %}
                    <img class="img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/{{ game.cover.cloudinary_id }}.png" alt="">
                {% elif game.screenshots %}
                    <img class="img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/{{ game.screenshots.0.cloudinary_id }}.png" alt="">
                {% else %}
                    <img class="img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/ag45mlr80vtsfi8donre.png" alt="">
                {% endif %}
                <p><a href="{% url 'releases:detail' pk=game.id %}">{{ game.name | truncatechars:25 }}</a></p>
                <p>First release date:</p>
                </div>
            </div>
        {% endfor %}
        </div>
    <!-- /content -->
    </div>

{% endblock %}



<!-- sidebar -->
<div class="col-xs-3 left hidden-md-down">

    <div class="navigation">
      <nav class="nav nav-pills nav-stacked">
        <div class="platformSelection">
            <p class="display-5">Platforms</p>
            <a class="nav-link" title="0" href="">All</a>
            <a class="nav-link" href="#">PC</a>
            <a class="nav-link" href="#">3DS</a>
            <a class="nav-link" href="#">Wii U</a>
            <a class="nav-link" title="46" href="#">PS4</a>
            <a class="nav-link" href="#">PS3</a>
            <a class="nav-link" href="#">Vita</a>
            <a class="nav-link" href="#">Xbox One</a>
            <a class="nav-link" href="#">Xbox 360</a>
        </div>
        <p class="display-5 mt-2">Region</p>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Worldwide</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Worldwide</a>
                    <a class="dropdown-item" href="#">North America</a>
                    <a class="dropdown-item" href="#">Europe</a>
                    <a class="dropdown-item" href="#">Australia</a>
                    <a class="dropdown-item" href="#">New Zealand</a>
                    <a class="dropdown-item" href="#">Japan</a>
                    <a class="dropdown-item" href="#">China</a>
                    <a class="dropdown-item" href="#">Asia</a>
                </div>
            </li>
        </nav>
    </div>
</div><!-- /sidebar -->

 <!-- upcoming games cards -->
<div class="col-md-9">
    <div class="row">

        {% for game in games %}

            <div class="card col-md-4">
                <div class="card-header">
                    <!-- display farthest year -->
                    {% for release_date in game.release_dates %}
                        {% if release_date.y >= 2016 %}

                        {% endif %}
                    {% endfor %}
                </div>

                {% if game.cover %}
                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/{{ game.cover.cloudinary_id }}.png" alt="">
                {% else %}
                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/{{ game.screenshots.0.cloudinary_id }}.png" alt="">
                {% endif %}

                <div class="card-block">
                    <a href="{% url 'releases:detail' pk=game.id %}"><h4 class="card-title">{{ game.name }}</h4></a>
                    {% if game.summary %}
                        <p class="card-text">{{ game.summary | truncatewords:"20" }} </p>
                    {% elif game.storyline %}
                        <p class="card-text">{{ game.storyline | truncatewords:"20" }}</p>
                    {% else %}
                        <p class="card-text">No description available</p>
                    {% endif %}
                </div> <!-- /end card block -->

            </div>

            {% if forloop.last %}
                <!-- This is where the div of class row gets closed -->
                </div>
            {% elif forloop.counter|divisibleby:"3" %}
                </div><div class="row">
            {% endif %}

        {% endfor %}

        <div id="newData">

        </div>

    </div>
