{% extends '_layout.html' %}
{% load staticfiles %}


{% block title %}Releases - Gaming Reminder{% endblock %}
{% block myjavascript %}<script src="{% static 'js/myapp.js' %}"></script>{% endblock %}
{% block other_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/game_list.css' %}">{% endblock %}

{% block body_content %}
    <div class="container">
    <!-- sidebar -->
    <div class="col-xs-3">

        <div class="navigation">
          <nav class="nav nav-pills nav-stacked">

            <div class="regionMenu">
            <a href="#" data-target="#regionItems" data-toggle="collapse"><i class="fa fa-list mt"></i><span class="collapse in hidden-xs">Worldwide<span class="caret"></span></span></a>
                <ul class="nav nav-stacked collapse" id="regionItems">
                    <li><a href="#">Worldwide</a></li>
                    <li><a href="#">North America</a></li>
                    <li><a href="#">Europe</a></li>
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">New Zealand</a></li>
                    <li><a href="#">Japan</a></li>
                    <li><a href="#">China</a></li>
                    <li><a href="#">Asia</a></li>
                </ul>
            </div>

            <p class="display-5">Platforms</p>
            <li><a class="nav-link active" title="0" href="">All</a></li>
            <li><a class="nav-link" href="#">PC</a></li>
            <li><a class="nav-link" href="#">3DS</a></li>
            <li><a class="nav-link" href="#">Wii U</a></li>
            <li><a class="nav-link" title="46" href="">PS4</a></li>
            <li><a class="nav-link" href="#">PS3</a></li>
            <li><a class="nav-link" href="#">Vita</a></li>
            <li><a class="nav-link" href="#">Xbox One</a></li>
            <li><a class="nav-link" href="#">Xbox 360</a></li>
           </nav>
        </div>

    </div>
    <!-- /sidebar -->
    </div>

{% endblock %}



<!-- sidebar -->
<div class="col-xs-3 left hidden-md-down">

    <div class="navigation">
      <nav class="nav nav-pills nav-stacked">
        <div class="platformSelection">
            <p class="display-5">Platforms</p>
            <a class="nav-link" title="0" href="">All</a>
            <a class="nav-link" href="#">PC</a>
            <a class="nav-link" href="#">3DS</a>
            <a class="nav-link" href="#">Wii U</a>
            <a class="nav-link" title="46" href="#">PS4</a>
            <a class="nav-link" href="#">PS3</a>
            <a class="nav-link" href="#">Vita</a>
            <a class="nav-link" href="#">Xbox One</a>
            <a class="nav-link" href="#">Xbox 360</a>
        </div>
        <p class="display-5 mt-2">Region</p>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Worldwide</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Worldwide</a>
                    <a class="dropdown-item" href="#">North America</a>
                    <a class="dropdown-item" href="#">Europe</a>
                    <a class="dropdown-item" href="#">Australia</a>
                    <a class="dropdown-item" href="#">New Zealand</a>
                    <a class="dropdown-item" href="#">Japan</a>
                    <a class="dropdown-item" href="#">China</a>
                    <a class="dropdown-item" href="#">Asia</a>
                </div>
            </li>
        </nav>
    </div>
</div><!-- /sidebar -->

 <!-- upcoming games cards -->
<div class="col-md-9">
    <div class="row">

        {% for game in games %}

            <div class="card col-md-4">
                <div class="card-header">
                    <!-- display farthest year -->
                    {% for release_date in game.release_dates %}
                        {% if release_date.y >= 2016 %}

                        {% endif %}
                    {% endfor %}
                </div>

                {% if game.cover %}
                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/{{ game.cover.cloudinary_id }}.png" alt="">
                {% else %}
                    <img class="card-img-top img-fluid" src="https://res.cloudinary.com/igdb/image/upload/t_screenshot_med/{{ game.screenshots.0.cloudinary_id }}.png" alt="">
                {% endif %}

                <div class="card-block">
                    <a href="{% url 'releases:detail' pk=game.id %}"><h4 class="card-title">{{ game.name }}</h4></a>
                    {% if game.summary %}
                        <p class="card-text">{{ game.summary | truncatewords:"20" }} </p>
                    {% elif game.storyline %}
                        <p class="card-text">{{ game.storyline | truncatewords:"20" }}</p>
                    {% else %}
                        <p class="card-text">No description available</p>
                    {% endif %}
                </div> <!-- /end card block -->

            </div>

            {% if forloop.last %}
                <!-- This is where the div of class row gets closed -->
                </div>
            {% elif forloop.counter|divisibleby:"3" %}
                </div><div class="row">
            {% endif %}

        {% endfor %}

        <div id="newData">

        </div>

    </div>
